{% if false %}
<script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/674ee55c95eb56b481e19b957bbbd104.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
{% endif %}
<footer class="site-footer">
  <div class="wrapper">
    <div id="footer-social">
      <a href="http://facebook.com/bookroo.love" target="_blank">
        <i class="fa fa-facebook"></i> <span>Facebook</span>
      </a>
      <a href="http://twitter.com/bookroo_love" target="_blank">
        <i class="fa fa-twitter"></i> <span>Twitter</span>
      </a>
      <a href="http://instagram.com/bookroo_love" target="_blank">
        <i class="fa fa-instagram"></i> <span>Instagram</span>
      </a>
    </div>
    <div id="footer-copyright">
      © Bookroo 2017, All Rights Reserved
    </div>
  </div>
</footer>
