<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="pure-g">
      <div class="pure-u-1-1 pure-u-md-1-2">
        <div class="inline-list margin-b">
          <span class="item"><a class="page-link" href="{{ "/courses.html" | prepend: site.baseurl }}">Courses</a></span>
          <span class="item"><a class="page-link" href="{{ "/people.html" | prepend: site.baseurl }}">People</a></span>
          <span class="item"><a class="page-link" href="{{ "/research.html" | prepend: site.baseurl }}">Research</a></span>
          <span class="item"><a class="page-link" href="{{ "/connect.html" | prepend: site.baseurl }}">Connect</a></span>
          <span class="item"><a class="page-link" href="http://forum.stanford.edu/visitors/directions/gates.php" target="_blank">Directions</a></span>
        </div>
      </div>

      <div class="pure-u-1-1 pure-u-md-1-2">
        <p>Our research is made possible by the generous financial support of the <a href="http://nsf.gov/">National Science Foundation</a>, <a href="http://www.hpi.uni-potsdam.de/forschung/design.html?L=1">Hasso Plattner Research Program</a>, and <a href="http://mediax.stanford.edu/">Media X</a>.</p>
      </div>
    </div>

  </div>

</footer>
